apiVersion: v1
kind: Secret
metadata:
  name: iam-secret
  namespace: minibank
type: Opaque
stringData:
  db-credentials.json: |
    {
      "username": "iam_user",
      "password": "CHANGE_ME_IN_PRODUCTION"
    }
  jwt-secret-key: "temporary-dev-jwt-secret-key-change-me"