apiVersion: v1
kind: Secret
metadata:
  name: notification-secret
  namespace: minibank
type: Opaque
stringData:
  broker-credentials.json: |
    {
      "username": "minibank_broker",
      "password": "CHANGE_ME_RABBITMQ_PASSWORD"
    }
