apiVersion: v1
kind: Secret
metadata:
  name: wallet-ledger-secret
  namespace: minibank
type: Opaque
stringData:
  db-credentials.json: |
    {
      "username": "wallet_user",
      "password": "CHANGE_ME_WALLET_DB_PASSWORD"
    }
  broker-credentials.json: |
    {
      "username": "minibank_broker",
      "password": "CHANGE_ME_RABBITMQ_PASSWORD"
    }